/* styles.css */
.floating-label {
    position: relative;
    margin-top: 1.5rem; /* Ajustez selon vos besoins */
  }
  
  .floating-label input {
    padding-top: 1.5rem; /* Ajustez en fonction de la hauteur de l'étiquette */
  }
  
  .floating-label label {
    position: absolute;
    top: 0.75rem; /* Ajustez en fonction du padding-top de l'entrée */
    left: 0.75rem; /* Ajustez pour correspondre au padding de l'entrée */
    font-size: 0.875rem; /* Ajustez la taille de la police selon vos besoins */
    color: #6b7280; /* Couleur de texte grise */
    transition: all 0.2s ease-out;
    pointer-events: none;
  }
  
  .floating-label input:focus + label,
  .floating-label input:not(:placeholder-shown) + label {
    top: -1.2rem; /* Déplace l'étiquette au-dessus de l'entrée */
    left: 0.75rem; /* Garde l'étiquette alignée */
    font-size: 0.75rem; /* Ajuste la taille de la police lorsque l'étiquette flotte */
  }
  